/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

html, body {
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	white-space: pre-wrap;       /* css-3 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	white-space: normal;
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	line-height: 150%;
}

nav select{
	display: none;
}

#logo{
	margin: 1em;
	position: relative;
	background: url(images/fitlogo.png) no-repeat;
	background-size: 100% 100%;
	width: 288px;
	height: 72px;
	display: inline-block;
}

.hght-header{
	height: 252px;
}

.float-left{
	float: left;
}
.float-right{
	float: right;
}
.dsply-blk{
	display: block;
	clear: both;
}

#topsection{
	display: block;
	position: relative;
	min-height: 20.5em;
	width: 100%;
	margin: 0 0 1em;
}
	#top-wrapper{
		position: absolute;
		width: inherit;
	}
	#topimg{
		display: inline-block;
		float: left;
		width: auto;
		padding-left: 1em;
	}
	#topinfo{
		display: inline-block;
		float: right;
		position: absolute;
		padding: 1em;
	}

li{
	list-style: disc inside;
	display: list-item;
}
.mrgn-8{
	margin: 1em;
	padding-bottom: .5em;
}

.section-text{
	position: relative;
	top: 1em;
	margin: 0 2.5%;
	padding: 1em;
	background: #259014;
	opacity: .8;
	filter: alpha(opacity=80);
}
	.section-text p, .section-text h2{
		color: #fff;
		font-weight:bold;
	}

h1{
	font-size: 2.5em;
	line-height: 1em;
	font-weight: bold;
	color: #259014;
}
.fnt-2{
	font-size: 1.5em;
	line-height: 1.25em;
}
.italic{
	font-style: italic;
}
h2{
	font-size: 1.5em;
}
.img-section{
	height: 40%;
	width: 100%;
}

#img-nutrition{
	background: url(images/food-nutrition.jpg) no-repeat center center fixed;
	width: 100%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#img-exercise{
	background: url(images/exercise-bike.jpg) no-repeat center center fixed;
	width: 100%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}
#img-stress{
	background: url(images/yoga.jpg) no-repeat center center fixed;
	width: 100%;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;	
}
.button{
	padding: .5em;
	border-radius: .5em;
	margin: .5em 0;
	display: inline-block;
	font-weight: bold;
}
	.button-grn{
		background: #259014;
		color: #fff;
	}
	.button-wht{
		background: #fff;
		color: #259014;
	}

.button:hover{
	cursor: pointer;
}	

@media only screen and (max-width: 767px) {

	#logo{
		background: url(images/fit-logo-wht.png) no-repeat;
		background-size: auto 85%;
		height: 90%;
		width: 75%;
		margin: 0 1em;
	}

  	nav a { 
		display: none; 
	}

  	nav select { 
  		display: block;
  		margin: 1em;
  		float: right; 
  		height: 2em;
  		width: 40%; 
  		right: 0px;
		top: 0px;
		position: absolute;
		z-index: 0;
  	}

  	#top-static{
  		top: 0px;
		position: fixed;
		z-index: 1;
		background: rgba(37, 144, 20, .8);
		padding: 1em 0; 
		width: 100%;
		height: 5%;
  	}

  	#topsection{
  		margin-top: 5em;
  		height: 50em;
  	}

  	#topinfo{
  		position: relative;
	}

	.hght-header{
		height: 80%;
	}

	body{
		font-size: 70%;
	}

	a.button{
		display: none;
	}

	textarea{
		width: 100%;
	}

	.img-section{
		height: 45%;
	}

	#img-nutrition{
		background: url(images/food-nutrition.mobile.jpg) no-repeat center center;
	}
	#img-exercise{
		background: url(images/exercise-bike.mobile.jpg) no-repeat center center;
	}
	#img-stress{
		background: url(images/yoga.mobile.jpg) no-repeat center center;
	}
}	

@media only screen and (min-width: 768px) and (max-width: 920px){

	#logo{
		background: url(images/fit-logo-wht.png) no-repeat;
		background-size: auto 95%;
		height: 90%;
		width: 75%;
		margin: 0 1em;
	}

  	nav a { 
		display: none; 
	}

  	nav select { 
  		display: block;
  		margin: 1em;
  		float: right; 
  		height: 2em;
  		width: 40%; 
  		right: 0px;
		top: 0px;
		position: absolute;
		z-index: 0;
  	}

  	#top-static{
  		top: 0px;
		position: fixed;
		z-index: 1;
		background: rgba(37, 144, 20, .8);
		padding: 1em 0; 
		width: 100%;
		height: 5%;
  	}

  	#topsection{
  		margin-top: 6em;
  	}
		#topsection h1{
			line-height: 1.25em;
		}


  	#topimg{
  		width: 250px
  	}

	.hght-header{
		height: 45%;
	}
	
	body{
		font-size: 90%;
	}

	a.button{
		display: none;
	}

	textarea{
		width: 100%;
	}

	#img-nutrition{
		background: url(images/food-nutrition.tablet.jpg) no-repeat center center;
	}
	#img-exercise{
		background: url(images/exercise-bike.tablet.jpg) no-repeat center center;
	}
	#img-stress{
		background: url(images/yoga.tablet.jpg) no-repeat center center;
	}
}

